/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors Used
text = #
primary = #E3A6AE
secondary = #B7C8CB
tertiary = #EECECE
alt = #dadbd3
*/

body {
    background-color: #F7F7F7;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    }

h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Sacramento', sans-serif;
  }
  
h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
h3 {
    font-size: 18px;
    font-weight: 700;
  }
.profile_portrait {
    margin: 20px;
}

a {
    color: #E3A6AE;
    text-decoration: none;
  }

a:visited {
    color: #B7C8CB;
  }

a:hover {
    color: #B7C8CB;
    text-transform: uppercase;
  }

a:focus {
    color: #B7C8CB;
    text-transform: uppercase;
  } 

a:active {
    color: #000;
    text-decoration: none;
  }

button {
    display: inline-block;
    background-color: #E3A6AE;
    font-size: 16px;
    text-decoration: none;
    font-family: inherit;
    color: white;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

.button {
    display: inline-block;
    background-color: #E3A6AE;
    font-size: 16px;
    text-decoration: none;
    font-family: inherit;
    color: white;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

button:visited {
    background-color: #B7C8CB;
    }

button:hover {
    color: white;
    cursor: pointer;
    opacity: 0.8;
  }

button:focus {
    color: white;
    cursor: pointer;
    opacity: 0.8;
  }

.button:hover {
    color: white;
    cursor: pointer;
    opacity: 0.8;
  }

.button:focus {
    color: white;
    cursor: pointer;
    opacity: 0.8;
  }

button:active, .button:active {
    background-color: #000;
  }

input[type="submit"] {
    background-color: #E3A6AE;
    font-size: 16px;
    text-decoration: none;
    font-family: inherit;
    color: white;
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}
.about-page {
    text-align: center;
}
.work-page {
    text-align: center;
}
.contact-page {
    text-align: center;
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40px;
            flex: 0 1 40px;
  }
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
.navigation-list {
    list-style-type: none;
  }
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
.project-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
.grid__item {
    background-color: white;
    padding: 5px 10px;
  }
.grid__item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
svg * {
    transform-box: fill-box;
}
  /* animations */
  .sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }
  
@-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  
@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
@keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
.cloud-back {
    -webkit-animation: 35s cloud-move-reverse infinite alternate linear;
            animation: 35s cloud-move-reverse infinite alternate linear;
}
  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }

/* media quiries for responsive screen sizes */
  @media all and (max-width: 500px) {
    .project-grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .project-grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .project-grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }